{{/* boolean feature tags */}}
{{- $personal := false -}}{{/* true if this machine should have personal setup */}}
{{- $work := false -}}{{/* true if this machine should have work setup */}}
{{- "" -}}

{{- $personal = promptBool "personal" -}}
{{- $work = promptBool "work" -}}

[data]
    personal = {{ $personal }}
    work = {{ $work }}
