# vim: ft=toml
{{- $work := false -}}
{{- $work = promptBool "work" $work -}}

{{- $email := "nico@nicokratky.me" -}}
{{- $email = promptString "email" $email -}}

{{ "" }}

[data]
    work = {{ $work }}
    email = {{ $email | quote }}
