{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -eufo pipefail

if ! command -v brew >/dev/null; then
    echo '🍺  Installing Homebrew'
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi

{{ $brews := list
    "bat"
    "black"
    "cloc"
    "cmake"
    "coreutils"
    "direnv"
    "eza"
    "ffmpeg"
    "fzf"
    "gcc"
    "gh"
    "git"
    "git-crypt"
    "git-lfs"
    "gnupg"
    "go"
    "grep"
    "htop"
    "imagemagick"
    "isort"
    "jq"
    "k9s"
    "koekeishiya/formulae/skhd"
    "koekeishiya/formulae/yabai"
    "kubectl"
    "lazygit"
    "make"
    "marksman"
    "neovim"
    "newsboat"
    "openjdk"
    "pinentry-mac"
    "pyenv"
    "pyright"
    "ripgrep"
    "ssh-copy-id"
    "stylua"
    "tmux"
    "typst"
    "typstyle"
    "unzip"
    "wget"
    "yamlfmt"
    "yt-dlp"
    "zsh"
}}

{{ if .work }}
{{ $brews = concat $brews (list
    "awscli"
    "awsume"
    "kubectx"
    "terraform"
    "terraform-docs"
    "tflint"
    "tfsec"
    "warrensbox/tap/tfswitch"
) }}
{{ end }}

{{ $casks := list
    "1password"
    "1password-cli"
    "alacritty"
    "appcleaner"
    "discord"
    "docker"
    "eloston-chromium"
    "firefox"
    "font-hack"
    "font-hack-nerd-font"
    "karabiner-elements"
    "keepingyouawake"
    "logi-options-plus"
    "mactex-no-gui"
    "obsidian"
    "skim"
    "spotify"
    "thunderbird"
    "visual-studio-code"
    "vlc"
}}

{{ if not .work }}
{{ $casks = concat $casks (list
    "adobe-creative-cloud"
    "grandperspective"
    "jetbrains-toolbox"
    "mattermost"
    "nextcloud"
    "whatsapp"
) }}
{{ end }}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}
