# vim: ft=toml

[user]
	name = Nico Kratky
	email = nico@nicokratky.me
    signingkey = B7CC3C8000053FFF
[commit]
    gpgsign = true
    verbose = true
[pull]
    rebase = true
[format]
    signoff = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[init]
    defaultBranch = main
