# vim: ft=toml

[user]
	name = Nico Kratky
	email = nico@nicokratky.me
{{ if eq .chezmoi.os "darwin" }}
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM+pic4jlrDwXIUg5xNM+kcB/qT44D23Fyr40FqpNEEw
{{ end -}}
[commit]
    gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[init]
    defaultBranch = main
{{ if eq .chezmoi.os "darwin" }}
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ end -}}

