# vim: ft=toml

[user]
    name = Nico Kratky
    email = {{ .email }}
    signingkey = B7CC3C8000053FFF
[commit]
    gpgsign = true
    verbose = true
[pull]
    rebase = true
[push]
    autoSetupRemote = true
[format]
    signoff = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    process = git-lfs filter-process
    required = true
    smudge = git-lfs smudge -- %f
[init]
    defaultBranch = main
[diff]
    algorithm = histogram
    colorMoved = plain
    renames = true

{{ if .work -}}
[includeIf "gitdir:~/work/"]
    path = ~/.config/git/work
{{ end }}
